---
import CRMLayout from '../layouts/CRMLayout.astro';
import ObsidianNav from '../components/obsidian/ObsidianNav';
import ObsidianHero from '../components/obsidian/ObsidianHero';
import SocialProof from '../components/obsidian/SocialProof';
import PlatformSection from '../components/obsidian/PlatformSection';
import AnalyticsSection from '../components/obsidian/AnalyticsSection';
import CTASection from '../components/obsidian/CTASection';
import ObsidianFooter from '../components/obsidian/ObsidianFooter';
import CursorFollower from '../components/ui/CursorFollower';
---

<CRMLayout>
  <CursorFollower client:load />
  <ObsidianNav client:load />

  <main class="obsidian-page">
    <ObsidianHero client:load />
    <SocialProof client:load />
    <PlatformSection client:load />
    <AnalyticsSection client:load />
    <CTASection client:load />
  </main>

  <ObsidianFooter />
</CRMLayout>